*.hasm
*.hex
*.lst
*.ihex
*.log
*.mem
*.uf2
*.local

*.suo
*.vsidx
*.user
\obj

Runtimes/Arduino/8bitforceOriginals

Runtimes/Windows/HopperNet/bin
Runtimes/Windows/Restart/bin
Source/Samples/MCU/Secrets2
Temp/Errors.txt
Bin/Auto.crc
Bin/Auto.hexe
Temp/IPCisRunning.bin
Runtimes/Windows/HopperNET/.vs/HopperNET/v17/DocumentLayout.json
Temp/testpath.json
*.bin
Runtimes/Windows/Restart/.vs/Restart/v17/DocumentLayout.json

Source/Projects/6502SBC/EasyEDA/offline_projects_backup
Runtimes/Universal/Hopper/bin
Runtimes/Universal/Hopper/.vs
Runtimes/Universal/Hopper/Publish
/Runtimes/Windows/HopperNET/.vs
/Runtimes/NETCore/bin
/Source/Projects/6502SBC/HopperBASIC/Parser
/Runtimes/NETCore/.vs
/Source/Projects/David
