*.hasm
*.hex
*.ihex
*.options
*.log
*.mem
*.uf2

*.suo
*.vsidx
*.user
\obj

Runtimes/Windows/HopperNet/bin
Source/Samples/MCU/Secrets2
Temp/Errors.txt
Bin/Auto.crc
Bin/Auto.hexe
Temp/IPCisRunning.bin
